.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;

}

.title{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button {
    width: 14rem;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #6c2e51;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .button:hover {
    background-color:#223558;
    transform: translateY(-2px);
  }
  

.input{
    padding: 20px;
    color:black;
    width: 400px;
    border-radius: 16px;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card{
    padding: 1rem;
    width: 40rem;
    background-color: rgba(255, 255, 255, 0.349);
    color: black;
    border-radius: 16px;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.719);
}