.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2rem;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes content to top and bottom */
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.359);
  }
  
  .pagesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    align-items: left;
    margin-top: 2rem;
  }
  
  .logo {
    width: 8rem;
    height: auto;
  }
  
  .pagelink {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #223558;
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  
  .logoutButton {
    width: 10rem;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #223558;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .utilitiesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
  }

  .pagelink:hover {
    background-color: #223558;
    color: white;
  }

 .logoutButton:hover {
  background-color: #555388;
  transform: translateY(-2px);
}