/* Login.module.css */
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     /* Grigio chiaro */
  }
  .logo {
    width: 60px;
    height: 60px;
    rotate: 70deg;
    margin-bottom: 0;
}

  
  .card {
    padding: 2rem;
    background-color: #f0f0f08a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 26rem;
    height: 35rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Allinea in alto */
    padding-top: 3rem; /* Regola l'altezza degli elementi */
    text-align: center;
    gap: 2rem; /* Spazio tra gli elementi */
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #223558;
    margin-top: 0;
}
  .error {
    color: #e53e3e; /* Rosso */
    font-size: 0.875rem;
  }

  .formGroup{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
  }
  .input {
    width: 20rem;
    height: 17%;
    padding: 0.5rem;
    border: 1px  #d1d5db;
    border-radius: 4px;
    color: #223558;
    font-size: 13px;
  }
  
  .button{
    width: 170px;
    padding: 10px 0;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #223558;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color:#38416c;
    transform: translateY(-2px);
}

.footer {
    padding-top: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
  